@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: white;
}
.BokorText {
  font-family: "Bokor";
}
.DMSerifText {
  font-family: 'DM Serif Text';
}
.DMSans {
  font-family: 'DM Sans';
}
.NotoSerif {
  font-family: 'Noto Serif';
}
/* Add this CSS to your stylesheet or style tag */

/* Hide the div on screens with a maximum width of 640px (adjust as needed) */
@media only screen and (max-width: 640px) {
  .hide-on-mobile {
    display: none;
  }
  .about-t{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 768px) {
  .hide-on-tab {
    display: none;
  }
}

@media only screen and (max-width: 1920px) {
  .hide-on-web {
    display: none;
  }
}

 /* styles.css */
.backgroundImageClass {
  background-image: url('../public/13986\ 1.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 100px;
}
